#rec {
    background-color: rgb(123, 255, 0);
    border: none;
    border-radius: 25px;
    font-size: 30px;
    width:200px;
    height: 80px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
    
    
}

body {
    background-color: black;
}

#stop {
    background-color: rgb(123, 255, 0);
    border: none;
    border-radius: 25px;
    font-size: 30px;
    width:200px;
    height: 80px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
}

#DOWNLOAD {
    background-color: rgb(123, 255, 0);
    border: none;
    border-radius: 25px;
    font-size: 30px;
    width:200px;
    height: 80px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
}

.container {
    text-align: center;
}

video {
    position: relative;
    top: 15px;
    outline-color: rgb(123, 255, 0) ;
    outline-style: ridge;
    outline-width: 5px;
}

#title{
    color: rgb(123, 255, 0);
    font-size: 45px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
}

