body {
    background-color: rgb(3, 7, 0);
}

video {
    position: relative;
    top: 15px;
    outline-color: rgb(123, 255, 0) ;
    outline-style: ridge;
    outline-width: 5px;
}

.container {
    position: relative;
    top: 10px;
    text-align: center;
}

#rec {
    background-color: rgb(123, 255, 0);
    border: none;
    border-radius: 15px;
    font-size: 30px;
    width:200px;
    height: 80px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
    transition: 0.5s;  
    outline: none;      
}

#rec:hover {
    box-shadow: 0 0 30px rgb(123, 255, 0);
    cursor: pointer;
    background-color: rgb(3, 7, 0);
    color: rgb(123, 255, 0);
    border: rgb(123, 255, 0);
    border-style: solid;
    outline: none;
}

#stop {
    background-color: rgb(123, 255, 0);
    border: none;
    border-radius: 15px;
    font-size: 30px;
    width:200px;
    height: 80px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
    margin-left: 14px;
    margin-right: 14px;
    transition: 0.5s;
    outline: none;
}

#stop:disabled { 
    cursor: not-allowed;
}

#stop:hover:enabled{
    box-shadow: 0 0 30px rgb(123, 255, 0);
    cursor: pointer;
    background-color: rgb(3, 7, 0);
    color: rgb(123, 255, 0);
    border: rgb(123, 255, 0);
    border-style: solid;
    outline: none;
}

#DOWNLOAD {
    background-color: rgb(123, 255, 0);
    border: none;
    border-radius: 15px;
    font-size: 30px;
    width:200px;
    height: 80px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
    transition: 0.5s;
    outline: none;
}

#DOWNLOAD:disabled { 
    cursor: not-allowed;
}

#DOWNLOAD:hover:enabled {
    box-shadow: 0 0 30px rgb(123, 255, 0);
    cursor: pointer;
    background-color: rgb(3, 7, 0);
    color: rgb(123, 255, 0);
    border: rgb(123, 255, 0);
    border-style: solid;
    outline: none;
}

#title{
    position: relative;
    top: -18px;
    color: rgb(123, 255, 0);
    font-size: 45px;
    font-family: bahnschrift ;
    src: url(bahnschrift.ttf);
}

#buttons {
    position: relative;
    top: -11px;
}
